<div class="container">
    <h1>Register a Surver Poodle account</h1>
    <form [formGroup]="registerForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="your username"
                formControlName="username" required minlength="3">
        </div>

        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <p *ngIf="username.errors.required">Username is required</p>
            <p *ngIf="username.errors.minlength">Username is must be at least 3 characters</p>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="your password"
                formControlName="password" required minlength="6">
        </div>

        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Password is must be at least 6 characters</p>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-success btn-lg" (click)="onRegisterClicked()" type="button"
            [disabled]="isLoading || registerForm.invalid">Register</button>
        </div>
        
        <br>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="registerError">
            <p>ERROR: {{registerError}} </p>
        </div>
        <div *ngIf="isLoading">
            <p>Registering your account...</p>
        </div>
    </form>
    <br>
    <a routerLink="/login">I already have an account, login now</a>
</div>